[general]
name: XmppProxy
admins: tsing@jianqing.org

[xmpp]
component: proxy.geowhy.org
jid_act_as: jiwai@proxy.geowhy.org/xmppproxy
port: 5880
pass: component_secret
host: 127.0.0.1
resource: bot
priority: 25
jid_proxy_to: tsing@geowhy.org
